<ion-header>
  <ion-toolbar>
    <ion-title>
      Habitaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let habitacion of habitaciones">
      <ion-label>
        <h2>Número: {{ habitacion.numero }}</h2>
        <p>Categoría: {{ habitacion.categoria }}</p>
        <p>Detalles: {{ habitacion.detalles }}</p>
        <p>Equipamiento: {{ habitacion.equipamiento }}</p>
        <p>Valor: {{ habitacion.valor | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
